h1{
  color:teal;
  text-align: center;
}

.homebox{
  background-color: darkslateblue;
  width: 100%;
  height: 40rem;
  display: inline-flex;
  justify-content: space-evenly;
}

.cartinfo {

  position: relative;
  background-color: white;
  width: 30%;
  height: 35rem;
 border-radius: 10px;
 margin-top: 2.5%;


}

.text-head{
  color: black;
  margin: 4%;
}

.amount-info{
  font-size: 50px;
}

.tick-list {
  list-style: '✓  ';
  text-align: left;
  margin-top: 17px;
}

.wrong-list{
  list-style: '✖  ';
  text-align: left;
  margin-top: 17px;
}


.cartinfo:hover{

  margin-top: 3%;
  margin-bottom: 3%;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);;
 
}
